/* "connections" table */
table.result {
    border: 1px solid #ccccdd;
    border-collapse: collapse;
}
table.result th {
    font-family: Verdana;
    font-size: 14px;
}
table.result td {
    font-family: Verdana;
    font-size: 11px;
    border: 1px solid #c0c0c0;
    padding: 2px;
}
table.result tr.total td {
    background-color: #DCDAD5;
}
table.result th {
    background-color: #ccccdd;
    white-space: nowrap;
    padding: 0px 2px;
}
table.result tr.odd td {
    background-color: #eef;
}
table.result tr.odd td#white {
    background-color: #fff;
}
table.result td#highlight {
    background-color: #e9e9e9;
}

/* top header */
div.header {
    border: 3px solid #ccccdd;
    margin-bottom: 10px;
    padding: 3px;
    font-family: Verdana;
    font-size: 12pt;
}
.copyleft, select {
    font-family: Verdana;
    font-size: 10px;
}
.copyleft a {
    text-decoration: none
}
.copyleft a:hover {
    text-decoration: underline
}
form {
    margin: 0;
    padding: 0;
}
#dhtmltooltip {
    position: absolute;
    /* width: 350px; */
    
    border: 2px solid black;
    padding: 2px;
    background-color: lightyellow;
    visibility: hidden;
    z-index: 100;
    font-family: Verdana;
    font-size: 10px;
}
#dhtmlpointer {
    position: absolute;
    left: -300px;
    z-index: 101;
    visibility: hidden;
}
