<?php
$icap_conf_file=<<<EOF

plugname = 'icapscan'

# ICAP URL
# Use hostname rather than IP address
# Always specify the port
#
# Force preview not matter the object size (needed by c-icap)
# previewforce = on
#

icapurl = '{$e2guardian_config['contentscannericapurl']}'

exceptionvirusmimetypelist = '/usr/local/etc/e2guardian/lists/contentscanners/exceptionvirusmimetypelist'
exceptionvirusextensionlist = '/usr/local/etc/e2guardian/lists/contentscanners/exceptionvirusextensionlist'
exceptionvirussitelist = '/usr/local/etc/e2guardian/lists/contentscanners/exceptionvirussitelist'
exceptionvirusurllist = '/usr/local/etc/e2guardian/lists/contentscanners/exceptionvirusurllist'


EOF;

?>
